#root {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contentContainer {
  max-width: 40vw;
  min-width: 40vw;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}
@media only screen and (max-width: 600px) {
  .contentContainer {
    min-width: 80vw;
    max-width: 80vw;
  }
}
.PlayerScoreCounter > form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
}
.valueRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-width: 100%;
}
.valueRow > img {
  min-width: 32px;
  max-width: 32px;
  margin-right: 1rem;
}
.resultRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.resultRow > input {
  color: tomato;
  font-weight: bold;
  font-size: 25px !important;
}

.factionRow {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mra {
  margin-right: auto;
}
